.header {
    position: relative;
    padding-top: 2rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__buttons {
        display: flex;
        letter-spacing: 0.1rem;
        &-img, &-quote {
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 20px;
            border-radius: 50px;
            display: inline-block;
            border: none;
            transition: all 0.4s ease 0s;
            background: transparent;
            color:#fff;
            outline: 0;
            &:hover {
                cursor:pointer;
                text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
                box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
                transition: all 0.4s ease 0s;
            }
            &:active {
                transform: scale(.8);
            }
        }
    }
}